.form-box{
    height: 500px;
    width: 600px;
    border-radius: 40px;
    background-color: rgb(174, 199, 247);
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    margin-left: 25%;
    margin-top: 60px;
}